@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--font-title: 'Noto Serif';
	--font: 'Inter';
	--font-title-weight: 400;

	--white: #f2f2f2;
	--white-greyish: #cfcfcf;
	--grey: #a6a6a6;
	--dark-grey: #737373;
	--black-grey: #404040;
	--black: #262626;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5 {
	font-family: var(--font-title);
	font-weight: var(--font-title-weight);
}

p,
small,
address,
a,
li,
sumamry,
details {
	font-family: var(--font);
	text-decoration: none;
}

summary,
details,
li {
	font-size: 1rem;
}

summary {
	cursor: pointer;
	list-style: none;
}

.summaryItems {
	font-size: 0.9rem;
}

details>ul>li {
	list-style: none;
	margin-left: 1rem;
	font-size: 1rem;
}

/*	Container	*/
/*	TODO: Move to a separate file	*/

.appContainer {
	margin: 0 auto;
	max-width: 1024px;

	padding: 2rem;
}

.sectionContainer {
	max-width: 768px;
	margin: 2rem 0 2rem 0;
}

.appTitle {
	font-size: 3rem;
}

.appHeader {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	align-items: flex-start;
}

.stack {
	margin: 1rem 0 1rem 0;
}

.sectionHeader {
	font-size: 2rem;
}

.projectsContainer {
	margin: 1rem 0 1rem 0;
}

.projectsContainer>section>h3 {
	font-size: 1.5rem;
}

.projectsContainer>section {
	margin-top: 0.8rem;
}

.projectsContainer>section>p {
	margin-top: 0.2rem;
	font-size: 0.9rem;
}

.blogEntries {
	margin: 0.9rem 0 0.9rem 0;
}

.blogAnchor {
	font-size: 0.9rem;
	padding: 0.5rem 0;
	gap: 0.5rem;
	display: flex;
	flex-flow: row wrap;
	cursor: pointer;
}

.blogAnchorTitle {
	background-color: #333;
	color: #f2f2f2;
	padding: 0.1rem;

	cursor: pointer;
}

.bloggingSearch {
	display: block;
	margin-top: 0.5rem;

	padding: 0.5rem;
	border-radius: 0.3rem;
	outline: none;
	border: none;
	width: 50px;
	text-align: center;
}

.animateShrink {
	animation: shrink 1s ease-in-out forwards;
}

.bloggingSearch:focus {
	animation: grow 1s ease-in-out forwards;
}

@keyframes shrink {
	from {
		width: 400px;
	}
	to {
		width: 50px;
	}
}

@keyframes grow {
	from {
		width: 50px;
	}
	to {
		width: 400px;
	}
}

.postModal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	z-index: 1000;

	border: none;
	border-radius: 1rem 2rem;
	outline: none;

	padding: 2rem;
	width: 768px;
	height: 768px;
	
	overflow: scroll;
}
.sectionModal {
	display: flex;
	flex-flow: column wrap;
	margin: 1rem 0 1rem 0;
	gap: 1rem;

	background-color: #b3b3b30d;
	border-radius: 0.5rem 1rem;
	padding: 1rem;

	scrollbar-width: none;
}
.blogpostHeader {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;

}


@media (max-width: 500px) {
	.appTitle {
		font-size: 2rem;
	}

	.sectionHeader {
		font-size: 1.5rem;
	}

	p {
		font-size: 0.8rem;
	}

	summary {
		font-size: 0.8rem;
	}

	.projectsContainer>section>h3 {
		font-size: 1.2rem;
	}

	.projectsContainer>section>p {
		font-size: 0.8rem;
	}

	@keyframes shrink {
		from {
			width: 250px;
		}
		to {
			width: 50px;
		}
	}

	@keyframes grow {
		from {
			width: 50px;
		}
		to {
			width: 250px;
		}
	}
}

.lightModeBackground {
	background-color: var(--white);
}
.lightModeText,
.lightModeText:visited a,
.lightModeText:link a,
.lightModeText a{
	color: var(--black-grey);	
}
.lightModeHeader {
	color: var(--black);	
}
